
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Proza+Libre:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    background-color: #63B4B8; /* Green */
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.button:hover{
    color: #4B3869;
    transition: 1s;
}
.divider{
    margin-top: 100px;
    border-radius: 5px;
    height: 5px;
    background-color:#63B4B8; 
}

.navbar-section{
    font-family: 'Space Mono', monospace;
    background:#261C2C ;
    font-size: 20px;
}
.navbar-section .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item{
    list-style: none;
}
.nav-item  a{
    text-decoration: none;
    list-style: none;
    color: #FEFBF3;
}
.nav-item  a:hover{
    color:#5C527F;
    transition: .5s;
}
.nav-item img{
    height: 150px;
}

.home-section{
    background: #3E2C41 ;
    color: #FEFBF3;
}
.home-header h1{
    padding: 60px 0 40px 0;
    font-family: 'Proza Libre', sans-serif;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-size: 50px;
}
.home-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-gif img{
    border-radius: 20px;
    height: 500px;
}
.home-paragraph{
    width: 600px;
}
.home-paragraph p{
    font-size: 20px;
}
.buy-section{
    background: #3E2C41;
    color: #FEFBF3;
}
.buy-header h1{
    padding: 40px 0 40px 0;
    font-family: 'Proza Libre', sans-serif;
    font-size: 50px;
}
.wallet-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin: 20px 0 20px 0;
    background: #261C2C;
    border-radius: 20px;
    box-shadow: 5px 6px 20px 0px #5C527F;
}
.wallet-item a{
    color:#FEFBF3;
}
.wallet-item a:hover{
    color:#5C527F;
    transition: .5s;
}
.collection-section {
    background-color: #3E2C41;
    color: #FEFBF3;
}
.collection-header h1{
    padding: 50px 0 50px 0;
    font-family: 'Proza Libre', sans-serif;
    font-size: 50px;
}
.collection-item {
    text-align: center;
    padding: 45px 40px 32px;
    border-radius: 15px;
    transition: 1s;
    background: linear-gradient(180deg, #13141f 0%, rgb(25 28 38 / 0%) 100%);
  }
  .collection-item:hover {
    background: linear-gradient(180deg, #5C527F 0%, rgba(8, 10, 18, 0) 100%);
    transition: 1s;
  }
.collection-img img{
    height: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 5px 6px 20px 0px #5C527F;
    transition: 0.5s;
}
.collection-item h4{
    font-family: 'Space Mono', monospace;
    margin-top: 28px;
    margin-bottom: 14px;
    font-size: 22px;
}

.roadmap-section{
    background:#3E2C41;
    color: #FEFBF3;
    padding: 0 0 50px 0;
    
}
.roadmap-header h1{
    font-family: 'Proza Libre', sans-serif;
    font-size: 50px;
    padding: 50px 0 50px 0;
}

.roadmap-img{
    padding-top: 0 50px 50px;
    background:#5C527F;
    border-radius: 100px;
    box-shadow: 5px 6px 20px 0px #5C527F;
}

.footer-section .container-fluid{
    background:#261C2C;
    color: #FEFBF3;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px 40px 20px 40px
}
.left-link a{
    color: #FEFBF3;
    padding: 0 20px 0 0;
}

.copyright a{
    text-decoration: none;
    color: #6E85B2;
}
.right-link a{
    text-decoration: none;
    color: #FEFBF3;
}

