
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');
$white: #FEFBF3;
$light-blue:#c0fdff;
$bluesh-purple: #6E85B2;
$purple:#5C527F;
$dark-purple:#4B3869;
$darker-purple:#3E2C41;
$darkest-purple: #261C2C;

/* Global Section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:$darker-purple !important;
    
    h1{
        font-family: 'Roboto Slab', serif ;
        font-size: 3rem !important;
        color: $white;
        padding-bottom: 3rem;
    }
    h4{
        font-family: 'Roboto Slab', serif;
        font-size: 1.8rem !important;
        color:$light-blue ;
    }
    a, p{
        font-family: 'Space Mono', monospace;
        font-size: 1.2rem !important;
        text-decoration: none !important;
        color: $white !important;
    }
    a:hover{
        color: $dark-purple !important;
        transition: .5s;
    }
    li{
        list-style: none;
    }
    .button{
        background-color: $bluesh-purple;
        border-radius: 1rem;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.2rem !important;
        font-weight: bold;
    }
}

/* .divider{
    margin-top: 100px;
    border-radius: 5px;
    height: 5px;
    background-color:#c0fdff; 
} */
/*End  Global Section */

/* Navbar Section */
.navbar{
    padding: 0 3rem;
    background:$darkest-purple ;
}
.nav-logo img{
    height: 7rem;
}
.nav-link {
    display: flex !important;
    li{
        padding-right: 3rem;
    }
}
/* End Navbar Section */

/* Home Section */
.home{
    padding-top: 3rem;
}
.home-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        border-radius: 1.2rem;
        height: 30rem;
    }
}
.home-paragraph{
    width: 44rem;
    p{
        font-size: 1.5rem !important;
        padding-bottom: 3rem ;
    }
}

/* End Home Section */

/* Collection Section */
.collection {
    padding-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    img{
        height: 30rem;
        margin-bottom: 1.5rem;
        border-radius: .5rem;
        box-shadow: 5px 6px 20px 0px $purple;
        transition: 0.5s;
    }
    
}
.collection-item{
    text-align: center;
    padding: 2.7rem 0;
    border-radius: 1rem;
    transition: 1s;
    
    &:hover {
        background: linear-gradient(180deg, $purple 0%, rgba(8, 10, 18, 0) 100%);
        transition: 1s;
      }
}
    
.collection-p p{
    text-align: center;
    font-size: 1.5rem !important;
}
/* End Collection Section */

/* Buy Section */
.accordion-item {
    background-color:$dark-purple !important;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem ;

  .accordion-item-header {
    font-size: 1.5rem !important;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    min-height: 3.5rem;
    line-height: 1.25rem;
    position: relative;
    cursor: pointer;
    
    &::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
    &.active::after {
        content: "\2212";    
    }
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
        .accordion-item-body-content {
        color: $white;
        font-size: 1.3rem;
        padding: 1rem;
        line-height: 1.5rem;
        border-top: 1px solid;
        border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    }
  }
}

/* End Buy Section */

/* Roadmap Section */
 .roadmap{
    padding-top: 3rem;
}
/* End Roadmap Section */

/* Footer Section */
footer{
    background: $darkest-purple!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    .left-link a{
        color: $white;
        padding-right:1rem;
    }
    a{
        color: $light-blue !important;
    }
}
/* End Footer Section */

