@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap");
/* Global Section */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #3E2C41 !important;
}

body h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem !important;
  color: #FEFBF3;
  padding-bottom: 3rem;
}

body h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem !important;
  color: #c0fdff;
}

body a, body p {
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem !important;
  text-decoration: none !important;
  color: #FEFBF3 !important;
}

body a:hover {
  color: #4B3869 !important;
  -webkit-transition: .5s;
  transition: .5s;
}

body li {
  list-style: none;
}

body .button {
  background-color: #6E85B2;
  border-radius: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.2rem !important;
  font-weight: bold;
}

/* .divider{
    margin-top: 100px;
    border-radius: 5px;
    height: 5px;
    background-color:#c0fdff; 
} */
/*End  Global Section */
/* Navbar Section */
.navbar {
  padding: 0 3rem;
  background: #261C2C;
}

.nav-logo img {
  height: 7rem;
}

.nav-link {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-link li {
  padding-right: 3rem;
}

/* End Navbar Section */
/* Home Section */
.home {
  padding-top: 3rem;
}

.home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-item img {
  border-radius: 1.2rem;
  height: 30rem;
}

.home-paragraph {
  width: 44rem;
}

.home-paragraph p {
  font-size: 1.5rem !important;
  padding-bottom: 3rem;
}

/* End Home Section */
/* Collection Section */
.collection {
  padding-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.collection img {
  height: 30rem;
  margin-bottom: 1.5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 5px 6px 20px 0px #5C527F;
          box-shadow: 5px 6px 20px 0px #5C527F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.collection-item {
  text-align: center;
  padding: 2.7rem 0;
  border-radius: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.collection-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5C527F), to(rgba(8, 10, 18, 0)));
  background: linear-gradient(180deg, #5C527F 0%, rgba(8, 10, 18, 0) 100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.collection-p p {
  text-align: center;
  font-size: 1.5rem !important;
}

/* End Collection Section */
/* Buy Section */
.accordion-item {
  background-color: #4B3869 !important;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.accordion-item .accordion-item-header {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: #FEFBF3;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 3.5rem;
  line-height: 1.25rem;
  position: relative;
  cursor: pointer;
}

.accordion-item .accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item .accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion-item .accordion-item-body .accordion-item-body-content {
  color: #FEFBF3;
  font-size: 1.3rem;
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#34495e), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

/* End Buy Section */
/* Roadmap Section */
.roadmap {
  padding-top: 3rem;
}

/* End Roadmap Section */
/* Footer Section */
footer {
  background: #261C2C !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

footer .left-link a {
  color: #FEFBF3;
  padding-right: 1rem;
}

footer a {
  color: #c0fdff !important;
}

/* End Footer Section */
/*# sourceMappingURL=style.css.map */